.loginSigninForms{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    margin-top: 15vh;
    width: 100%;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginLink{
    width: 60%;
    max-width: 550px;
    text-align: end;
    position: relative;
    bottom: 30px;
}